body {
  background-color: #FF4343;
}
nav{
  text-align: left;
  top: 100%;
  left: 0;
  width: 100%;
}

nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li{
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a{
font: Bold 1rem Arial;
letter-spacing: 0;
color: #000000;
opacity: 1;
text-decoration: none;
}

nav a:hover{
  color: #FFFFFF
}

/***** 💡title page 💡 *****/



/***** 🐹project 1️⃣ page 🐹 *****/
.projectone img{
  width: 20%;
  margin-top:20%;
  margin-left: 20%;
}

.projectone h1{
  margin-top: -3em;
  margin-left: 7em;
  margin-bottom: 0;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 3em;
  font-weight: bold;
  color: white;
}

.projectone p{
  font-family: 'Red Hat Display', sans-serif;
  margin-top: .5em;
  margin-left: 25em;
  width: 20em;
  font-size: 1em;
}

/********* 😘😗this is the computer view port style sheet 😘😗*******/

@media screen and (min-width: 1100px) {
  header{
    height: 100px;
    display: inline-grid;
    grid-template-columns:repeat(3,1fr);
  }

  nav{
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2;
  }
  nav ul{
    display: flex;
  }

  nav li{
    margin-right: 5.5em;
    margin-left: 10em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
  }

  .titlepage p{
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1em;
    text-align: left;
    font-weight: black;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
    width: 40%;
    margin-left: 55%;
    margin-top: -3em;
  }

/***** 💡title page 💡 *****/

  .titlepage svg{
    width: 70%;
    margin-left:  15%;
    margin-top: 5%;
  }
  .titlepage p{
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1.4em;
    text-align: left;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
    width: 40%;
    margin-left: 45%;
    margin-top: -2.5em;
  }

  .phone{
    display: none;
  }

/***** 🐹project 1️⃣ page 🐹 *****/

  .projectone h1{
    margin-top: -15%;
    margin-left: 43%;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 3em;
    font-weight: bold;
    color: white;
  }

  #javaScriptPattern{
    list-style: none;
    text-decoration: none;
    color: white;
  }

  .projectone p{
    font-family: 'Red Hat Display', sans-serif;
    margin-top: 1em;
    margin-left: 48%;
    width: 30%;
    font-size: 1.2em;
    line-height: 1.4;
  }
}

/********* 😘😗this is the iphone view port style sheet 😘😗*******/
@media screen and (max-width: 450px){
  nav{
    position: absolute;
  }
  nav ul{
    margin-left: 60%;
    margin-top: -16em;
  }

/***** 💡title page 💡 *****/
  .phone{
   margin-top: 5em;
   width:70%;
   margin-left: 15%;
  }

  .titlepage svg{
    display: none;
  }

  .titlepage p{
    display: none;
  }
  .projectone img{
    width: 40%;
    margin-top: 50%;
    margin-left: 30%;
  }
  .projectone h1 {
      margin-top: 0.5em;
      margin-left: 10%;
      font-size: 1.7em;
      width:90%;
  }
  .projectone p{
    margin-left: 15%;
    width:70%;
    text-align: center;
  }
  #javaScriptPattern{
    list-style: none;
    text-decoration: none;
    color: white;

  }

}
